# Keil / MDK-ARM build artifacts
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx
MDK-ARM/*.bak
MDK-ARM/*.dep
MDK-ARM/*.crun
MDK-ARM/*.scvd
MDK-ARM/DebugConfig/

# Keil debug / firmware binaries
*.axf
*.bin
*.hex
*.o
*.d
*.lst
*.map
*.crf
*.htm
*.dep

# IDE / OS
.DS_Store
Thumbs.db